
.search-container{ 

   display: flex;
   justify-content: flex-end;
} 

.search-container input{ 
   padding: 5px 20px;
   outline: none;
   border: none;
} 

.search-container button { 
   padding: 7px 25px;
   background-color: #FFD471;
   border: none;
   border-radius: 8px;
   outline: none;
   cursor: pointer;
   
}  




.search-container input:hover{ 
  
  border: 1px solid rgb(193, 193, 193);
} 


.search-container button:hover{ 
   
   background-color: #e0b142;
 
} 

.new-added{ 
   margin: 40px;
   display: flex;
   justify-content: space-evenly;
} 
.new-added .button{ 

   display: flex;
   justify-content: center;
   

} 

.new-added .header{ 
   display: flex;
   justify-content: center;
   margin-bottom: 15px;
   padding-top: 10px;
   font-family: 'Lobster';
   
} 

.new-added button { 
   padding:  10px 55px;
   border-radius: 15px;
   border: none;
   margin-top: 20px;
   background-color: #2AA1B7;
   color: #D8D7Db;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   outline: none;
   cursor: pointer;

} 

.new-added button:hover { 
  background-color: #1db4cf

} 


.new-content{ 
   background-color: #FFD471;
   width: 400px;
   height: 430px;
   color:  #2AA1B7;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  




/* Media Query */
@media screen and (max-width:320px){ 
   .new-added .new-content { 
      width: 300px;
      height: 327px;
   }
}
@media screen and (max-width:320px){ 
   .search-container #search-form{ 
      flex-direction: column;
      
   }
}
@media screen and (max-width:320px){ 
   .search-container { 
      justify-content: center;
      
   }
}  



@media screen and (max-width:360px){ 
   .new-added .new-content { 
      width: 280px;
      height: 300 px;
   }
}



@media screen and (max-width:375px){ 
   .new-added .new-content { 
       width: 320px;
       height: 347px;
    }
 }  
 
 @media screen and (max-width:375px){ 
    .new-added .new-content.button { 
       margin-top: 10px;
    }
 }
 
 @media screen and (max-width:375px){ 
    .search-container #search-form{ 
       flex-direction: column; 
       
    }
 }
 @media screen and (max-width:375px){ 
    .search-container { 
       justify-content: center;
       
    }
 }


 @media screen and(max-width:414px){ 
   .new-added .new-content { 

      width: 320px;
      height: 350px;
   }
}
/* Media Query */




.image-content{ 
   display: flex;
   justify-content: center; 
} 

 .btn-more{ 
   display: flex;
   justify-content: center;
} 

.btn-more .more { 
   padding:  10px 55px;
   border-radius: 15px;
   border: none;
   margin-top: 20px;
   background-color: #FFD471;
   color: #707070;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   outline: none;
} 

.new-header{ 
   display: flex;
   justify-content: center;
} 
.new-header h2{ 
   font-family: 'Lobster';
   color:  #2AA1B7;
} 

@media screen and (max-width: 1024px){ 

   .new-added { 
      gap: 20px;

   }

}

@media screen and (max-width: 768px){ 

   .new-added { 
      flex-direction: column;
      align-items: center;
   }
   .new-header{ 
      margin-top: 40px;
   }
}   



.ul-container{ 
   border: 1px solid rgb(168, 168, 168);
   width: 150px;

} 

@media screen and (max-width: 375px){ 

   #search-form { 
      display: flex;
      gap: 10px
   }
   .btn-more{ 
      margin-top: -20px;
   }
}  

.new-content .image-content{ 
   overflow: hidden;
}

.more{ 
   cursor: pointer;
}


