<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Eat Me</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
   <link rel="stylesheet" href="../public/style/base.css">
   <link rel="stylesheet" href="../public/style/search-main.css">
   <link rel="stylesheet" href="../public/style/search-view.css">
  </head>
  <body>
   <div class="container">
      <nav class=nav>   
          <div class="brand-logo-wrapper">
              <a href="#">
                  <img class="brand-logo" src="../public/img/logo.png">
              </a>
          </div>

          <a href="#" class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </a>

          <div class="nav-links">
              <ul>
                  <li><a href="/" data-content="Main">Main</a></li>
                  <li><a href="/fluke" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
                  <li><a href="/search-view" data-content="Recipes">Recipes</a></li>
                  <li><a href="#" data-content="Contact">Contact</a></li>
              </ul>
          </div>
          <div class="login-logout">
              <a href="/users/login" data-content="Log in">Log in</a>
              <div class="backslash">/</div>
              <a href="/users/logout" data-content="Log out">Log out</a>
          </div>
      </nav>

   
    <div class="container"><%- body %></div>

    <footer class="footer">
      <nav class="footer-nav">
          <ul>
              <li><a href="#" data-content="Main">Main</a></li>
              <li><a href="#" data-content="I'm feeling lucky">I'm feeling lucky</a></li>
              <li><a href="#" data-content="Recipes">Recipes</a></li>
              <li><a href="#" data-content="Contact">Contact</a></li>
          </ul>
      </nav>
      <div class="footer-text">
          <q>Laughter is brightest where food is best.</q><br> Irish Proverb
      </div>
      <nav class="social-media">
          <ul>
              <li><a href=""><i class="fab fa-facebook"></i></a></li>
              <li><a href=""><i class="fab fa-pinterest"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
          </ul>
      </nav>
   </footer>
      <script src="../public/js/search.view.js"></script>
      <script src="../public/js/navbar.js"></script>
      <!-- <script src="../public/js/search.js"></script> -->
      <script src="../public/js/fluke.js"></script>
      <script src="../public/js/carousel.js"></script>


    </div> 
  </body>
</html>
