            <form action="" class="search-form">
                <div class="form-row row first-row-inputs">
                    <input type="search" name="search-input" id="search-input" placeholder="Search by name" class="search-input m10">
                    <div class="search-buttons">
                        <button class="search-btn-1 m10" type="button" disabled>Search by name</button>                
                        <button class="hide-filters-btn m10" type="button">Hide filters</button>    
                    </div>
                </div>
                <span class="filters">
                    <div class="form-row row search-selects">
                        <select id="meal-ingredients" name="meal-ingredients" class="m10">
                            <option value="" disabled selected>Select ingredient</option>
                        </select>
        
                        <select id="meal-category" name="meal-category" class="m10">
                            <option value="" disabled selected>Select category</option>
                        </select>
        
                        <select id="meal-area" name="meal-area" class="m10">
                            <option value="" disabled selected>Select area</option>
                        </select>
                    </div>
                    <div class="form-row row ingredients-selected">
                        <p class="ingredients-empty-info m10">No ingradients selected</p>
                    </div>
                    <div class="form-row row fourth-row-buttons">
                        <button class="clear-filters-btn m10" type="button" disabled>Clear</button>
                        <button class="search-btn-2 m10" type="button" disabled>Search</button>
                    </div>
                </span>
                <span class="results">                
                    <div class="form-row results-wrapper">
                        <h2 class="results-info m10"></h2>
                        <div class="row results-content"></div>
                    </div>
                    <div class="form-row row sixth-row-buttons">
                        <button class="random-pick-btn m10" type="button">Pick for me</button>
                    </div>
                </span>
            </form>
